.projects-container {
	height: auto;
	width: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: auto;
	padding: 1rem 0;
	/* background: rgb(49, 49, 49); */
}

.work-heading {
	color: white;
	font-size: 2rem;
	padding-top: 2rem;
	margin: 0;
}

.all-projects-btn {
	text-decoration: none;
	color: white;
	background-color: black;
	border: 2px solid white;
	padding: 1rem;
	font-size: 1.25rem;
	margin: 1rem auto;
}

@media screen and (min-width: 640px) {
	.projects-container {
		width: 95%;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		row-gap: 1rem;
		column-gap: 1rem;
		padding: 3rem 1rem;
	}
	.work-heading {
		font-size: 3rem;
		padding-top: 3rem;
		margin: auto;
	}
}
.block.block-rounded {
    border-radius: 0.3rem;
}
@media (min-width: 768px){
.content .block, .content .items-push>div, .content .push, .content p {
    margin-bottom: 1.875rem;
}}
.content .block, .content .items-push>div, .content .push, .content p {
    margin-bottom: 1rem;
}
.block {
    margin-bottom: 1.875rem;
    background-color: #fff;
    box-shadow: 0 1px 2px rgb(214 219 226 / 50%), 0 1px 2px rgb(214 219 226 / 50%);
}
.block.block-rounded>.block-header, .block.block-rounded>.nav-tabs {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}
.block-header-default {
    background-color: #f6f7f9;
}
.block-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.625rem 1.25rem;
    transition: opacity .25s ease-out;
}

.block-content{
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}
.bg-body-light {
    background-color: #f6f7f9!important;
    box-sizing: border-box;
}